<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Actor Details</title>

  <!-- localhost:8080/updateAuthor?id=6&fullName=Martin-->
</head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<body>
<h1>Author Edit Form</h1>
<form th:action="@{/updateAuthor}" th:object="${authorToEdit}" method="post">  <!-- this button will call the /updateAuthor endpoint -->
  <input type="hidden" id="id" name="id" th:field="*{id}"/><br/> <!-- hidden so id cant be changed -->
  <label for="fullName">Full Name</label>
  <input type="text" id="fullName" name="fullName" th:field="*{fullName}"/><br/>
  <input type="submit" value="Update"/>
</form>
</body>
</html>