<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Details</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<body>
<h1>Book Details</h1>
<span th:if="${book==null}">Book not found</span>
<span th:unless="${book==null}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Book Name</th>
            <th>Author</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${book.id}"></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
        </tr>
    </table>
</span>
</body>
</html>